.content{
      text-align: left !important;
      margin: 2rem !important;
}

.cross{
      width: 2rem;
      margin: 1rem;
      top:0px;
      right:0px;
}

.cross :hover{
      cursor: pointer;;
}


