#buttonouter{
    height: 4.16vw;
    display: inline-block;
}
#navButton{
    width: 3.16vw;
    height: auto;
    border: none;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    margin-left: 1.75vw;
    position: relative;
    top: 43%;
    transform: translatey(-50%);
}
a{
    text-decoration: none;
}

#nbcontainer{
    display: flex;
    align-items: stretch;
}

#navitems{
    position: relative;
    top: 10px !important;
    display: inline-flex;
    width: 24.79vw;
    justify-content: space-around;
}

#navitems a{
    color: #577399;
    font-family: Karla-SemiBold;
    font-size: 30px;
    font-weight: 600;
}

#navButton img{
    height: 100%;
    width: 100%;
}

#navdiv{
    position: absolute;
    right: 0;
    top: 0;
    
    z-index: 100;
}

#closingNav{
    background-color:#FFD69A;
    
    border-bottom-left-radius: 1.5vw;
    position: relative;
}

#closingNav div{
    position: relative;
    top: 0.10vw;
}

.cross2{
    position: relative;
}

@media only screen and (max-width: 500px){
    #buttonouter{
        height: 70px;
    }
    #navButton{
        width: 50px;
    }

    #navitems{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
        opacity: 1;
        height: 40vh;
        padding-top: 175px;
    }

    
    #closingNav{
        height: 812px;
        border-bottom-left-radius: 0vw;
    }

    #nbcontainer{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .cross{
        position: relative;
        left: 38vw;
    }

}