.updateC {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
.updateHeading {
	color: var(--dark-blue);
	margin-top: 4rem;
	font-family: 'Domine-Bold';
	font-weight: bold;
	font-size: 48px;
}

.inup {
	font-size: 18px;
}

@media only screen and (max-width: 720px){
    .inup{
        font-size: 14px;
    }.updateHeading{
        font-size: 40px;
    }.updateC{
        margin-top: 1rem;
    }
}
